/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }
   
   h1, h2 {
    text-align: center;
   }
   
   h2 {
    margin-top: 30px;
   }
   
   ul {
    list-style: none;
    padding: 0;
    margin: 0;
   }
   
   li {
    margin-bottom: 10px;
   }
   
   /* Стили для header */
   header {
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 20px;
   }
   
   /* Стили для main */
   main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   }
   
   /* Стили для footer */
   footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
   }